/*General layout*/

#search_filter {
  max-width: 1275px;
  min-height: 20px;
  border-radius: 25px;
  border: 2px solid grey;
  padding: 20px;
  margin: 15px;
}
#instruction_well, #input_well {
  height: 435px;
  margin-top: 20px;
}
#create {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
#clip_button {
  background-color: whitesmoke;
}
#table_button, #faq1_button, #faq2_button, #faq3_button, #faq4_button, #faq5_button {
  background-color: white;
  border: none;
}
.faq_head {
  max-width: 1275px;
}
.faq{
  max-width: 800px;
  text-align: justify;
}
.index_term{
  font-style: italic;
}
.search_filter_faq{
  color: #1B9E77
}
.topic_faq{
  color: #7570B3
}

/*table layouts*/
table {
  /* min-width: 1000px;*/
  max-width: 1275px;
}
td {
  /* so Cercopithecoidea and Cercopithecidae are not too close */
  min-width:125px;
  text-align: left;
}
#primate_order_table {
  margin: 20px;
  border-bottom: 1px solid #000000;
}
#primate_order_table thead {
    border-bottom: 1px solid #000000;
}
.faq1_table {
    border: none;
    margin: 10px;
}
.faq1_table td {
    min-width:100px;
    vertical-align: top;
}
