/*General layout*/

#search_filter {
  max-width: 1275px;
  min-height: 20px;
  border-radius: 25px;
  border: 2px solid grey;
  padding: 20px;
  margin: 15px;
}
#instruction_well, #input_well {
  height: 435px;
}
#create {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
#clip_button {
  background-color: whitesmoke;
}
#table_button, #faq1_button, #faq2_button, #faq3_button {
  background-color: white;
  border: none;
}
.faq{
  max-width: 800px;
}

/*table layouts*/
table {
  /* min-width: 1000px;*/
  max-width: 1275px;
}
td {
  /* so Cercopithecoidea and Cercopithecidae are not too close */
  min-width:125px;
}
#primate_order_table {
  margin: 20px;
  border-bottom: 1px solid #000000;
}
#primate_order_table thead {
    border-bottom: 1px solid #000000;
}
.faq1_table {
    border: none;
    margin: 10px;
}
.faq1_table td {
    min-width:100px;
    vertical-align: top;
}
